#dev-tools {
  background: black;
  opacity: 0;
  color: white;
  padding: 20px;
  height: 60px;
  width: 100%;
  transition: all 0.3s;
  overflow: scroll;
}

#dev-tools.show {
  height: 50vh;
  width: 100%;
  opacity: 1;
}
