@import './colors.scss';

%button {
  display: flex;
  align-items: center;
  padding: 10px 15px;
  background: $indigo;
  color: $base;
  border: 0;
  line-height: 1;
  &:hover {
    background: $indigo-darken-10;
  }
}

.button {
  @extend %button;
}
