$base: white;
$text: #434449;
$gray: #f1f2f7;
$gray-10: #f1f1f4;
$gray-20: #e4e5e9;
$gray-80: #6f7077;
$indigo: #3f51b5;
$indigo-darken-10: #364495;
$indigo-lighten-80: #b7c1f8;
$yellow: #ffc107;
$green: #4caf50;
