@import './colors.scss';
@import './breakpoints.scss';
@import './forms.scss';
@import './buttons.scss';

// Reading list

.reading-list {
  margin-top: 1em;

  ul {
    list-style: none;
    padding: 0;
    display: grid;
    grid-template-rows: repeat(auto-fill, minmax(100px, 1fr));
    grid-gap: 1em;
  }
}

// Global

.item {
  flex-grow: 2;
  &:hover {
    text-decoration: none;
    box-shadow: 0 5px 15px -5px rgba(0, 0, 0, 0.08);
    color: inherit;
    h2 {
      color: $indigo;
    }
  }
}

.author {
  font-style: italic;
  font-size: 0.85em;
}
.author--mt {
  margin-top: 0.4em;
}
