@import './colors.scss';
@import './breakpoints.scss';

[data-reach-dialog-content] {
  max-width: 450px;
  border-radius: 3px;
  padding-bottom: 3.5em;
  box-shadow: 0 10px 30px -5px rgba(0, 0, 0, 0.2);
  margin: 20vh auto;
  @include respond-to('small') {
    width: 100%;
    margin: 10vh auto;
  }
  // modal title
  h3 {
    text-align: center;
    font-size: 2em;
  }
}

input {
  border: 1px solid $gray-10;
  background: $gray;
  padding: 8px 12px;
}
