@import '~bootstrap/dist/css/bootstrap-reboot.css';

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#root {
  color: #434449;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}
